.dropdown {
  position: relative;
  
  .dropdown-toggle {
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    &::after {
      margin-left: 0.5rem;
    }
  }
  
  .dropdown-menu {
    &.show {
      display: block;
    }
  }
}